venv/
out/
__pycache__/
*.pyc
*.o
*.so
Makefile
edcafairness
simulations/results/
simulations/.qtenvrc
figures/
.dev-guide.md
proposal/*.tex
proposal/*.aux
proposal/*.log
proposal/*.out
proposal/*.pdf
proposal/*.synctex.gz
